.App {
  max-width: 900px;
  margin: 20px auto;
  padding: 2rem;
}
.App h1 {
  padding: 1rem;
}

.App p {
  padding-bottom: 1.5rem;
}

.App p span {
  color: gold;
  font-weight: 600;
}

button {
  background: none;
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 6px 12px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-style: 1em;
}
button:hover {
  background: #c23866;
  color: #fff;
}

.card-grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.turns {
  font-size: 1.6rem;
  padding: 2rem;
  font-weight: 600;
}

@media (max-width: 900px) {
  .App {
    max-width: 650px;
  }
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 700px) {
  .App {
    max-width: 500px;
  }
}

@media (max-width: 500px) {
  .App {
    max-width: 400px;
  }
  .card-grid {
    gap: 1.5rem;
  }
}

@media (max-width: 400px) {
  .App {
    max-width: 350px;
  }
}

.matched__class {
  border: 2px solid gold;
}
